
body {
    font-family: "Comfortaa", sans-serif;
    font-style: inherit;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
table {
    margin: 20px auto;
    border-collapse: collapse;
}
td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    cursor: pointer;
    background-color: #b0e0e6;
}
td.hit {
    background-color: red;
}
td.miss {
    background-color: lightgray;
}
td.ship {
    background-color: #4682b4;
}
#status {
    margin: 20px;
    font-size: 20px;
}
.fields{
    display: flex;
    justify-content: space-around;
}